<h1>Devices#show</h1>

<strong>device_name:</strong>
  <ul>
        <strong>デバイス名</strong><br>
    <li>
        <%= @device.device_name %>
    </li>
        <strong>設定温度</strong><br>
    <li>
        <%= @device.preset_temperature %>
    </li>
        <strong>デバイスとの接続のオン/オフ</strong><br>
    <li>
        <%= @device.device_communication %>
    </li>

      <strong>macアドレス</strong><br>
    <li>
        <%= @device.mac_address %>
    </li>
  </ul>

  <%= link_to 'デバイス一覧へ戻る', devices_path %>
