<h1>Devices#show</h1>

<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th>デバイス情報</th>
      <th>設定値</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @device.device_name %>
      </td>
      <td>
        <%= @device.preset_temperature %>
      </td>
    </tr>
  </tbody>
  </table>
  <%= link_to 'デバイス一覧へ戻る', devices_path %>
</div>




    <!-- <ul>
      <li>
      </li>
      <li>
          <%= @device.preset_temperature %>
      </li>
      <li>
          <strong>デバイスとの接続のオン/オフ：　</strong>
          <%= @device.device_communication %>
      </li>
      <li>
        <strong>macアドレス：　</strong>
        <%= @device.mac_address %>
      </li>
    </ul> -->
