<h1>Devices#show</h1>

<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th>デバイス名</th>
      <th>設定値</th>
      <th>デバイスとの接続オン/オフ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= @device.device_name %>
      </td>
      <td>
        <%= @device.preset_temperature %>
      </td>
      <td>
        <% if @device.device_communication %>
          <%= "オン" %>
        <% else %>
          <%= "オフ" %>
        <% end %>
      </td>
      <td>
        <%= @device.mac_address %>
      </td>
    </tr>
  </tbody>
  </table>
  <%= link_to 'デバイス一覧へ戻る', devices_path %>
</div>
