<h1>Devices#show</h1>

<div class="container">
  <table class="table">
  <thead>
    <tr>
      <th>デバイス名</th>
      <th>macアドレス</th>
      <th>設定値</th>
      <th>デバイスとの接続</th>
    </tr>
  </thead>
  <tbody>
    <%= bootstrap_form_for(@device) do |f| %>
      <%= render 'shared/error_messages' %>
    <tr>
      <td>
        <%= f.static_control :device_name, hide_label: true, class: 'form-control' %>
      </td>
      <td>
        <%= f.static_control :mac_address, hide_label: true, class: 'form-control', pattern: "\d{1,2}\:\d{1,2}\:\d{1,2}\:\d{1,2}\:\d{1,2}\:\d{1,2}\:", placeholder: "xx:xx:xx:xx:xx:xx" %>
      </td>
      <td>
        <%= f.static_control :preset_temperature, hide_label: true, class: 'form-control', min: 20, max: 30, placeholder: "20〜30の数字で入力すること" %>
      </td>
      <td>
        <%= f.static_control :device_communication, hide_label: true, class: 'form-control' %>
      </td>
    </tr>
    <% end %>
  </tbody>
  </table>
  <%= link_to 'デバイス一覧へ戻る', devices_path %>
</div>
